html body {
  background: #1f1e1f;
}
.panel {
  position: fixed;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-size: cover!important;
  background-position: center!important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(5px);
}
.panel2 {
  position: absolute;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-size: cover!important;
  background-position: center!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  position: absolute;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #dfdfdf;
  background-size: cover!important;
  background-position: center!important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(0.8)!important; */
  background: #1f1e1f;
}
.error p {
  font-size: 12px;
}
.error .material-icons {
  position: relative;
  top: 5px;
}
.panel2 .vertical {
  /* display: flex; */
  /* width: 100vw;
  height: 100vh; */
  width: 400px;
  height: 150px;
  background: rgba(0, 0, 0, 0.2);
  color: #dfdfdf;
  font-weight: 400;
  backdrop-filter: blur(20px)!important;
  -webkit-backdrop-filter: blur(20px)!important;
  /* overflow: hidden; */
}
.panel2 .vertical .title {
  width: 370px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.panel2 .vertical span {
  font-size: 16px;
  white-space: nowrap;
  width: 400px;
}
label {
  font-size: 14px;
  position: relative;
  top: -1px;
}
button {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  /* background: #202020; */
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s linear;
}
button:hover {
  background: #dfdfdf;
}
button:hover .material-icons {
  color: #303030;
}
button .material-icons {
  font-size: 40px;
  color: #dfdfdf;
  position: relative;
  top: 2px;
  transition: 0.1s linear;
}
button:disabled {
  /* background: #303030; */
}
button:active, button:focus {
  outline: none;
}
button:active {
  transform: scale(1.02);
}
button:disabled:hover {
  background: none;
}
button:disabled .material-icons {
  color: #707070;
}
.volume-control {
  margin-top: 5px;
}
#pause {
  display: none;
}
label {
  margin-right: 15px;
}
.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #d7dbdd;
  background-color: transparent;
  opacity: 0.4;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip { display: none; /* display and visibility only */ }

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #dfdfdf;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #d7dbdd;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: .4em .6em;
  border-radius: 3px;
}

.container--dark {
  background-color: #11181d;

  h6 {
    color: #ccc;
  }

  .range::-webkit-slider-runnable-track {
    background-color: #606670;
  }

  .range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #606670;
    background-color: transparent;
  }

  .range::-moz-range-track {
    background-color: #606670;
    border: none;
  }

  .range::-ms-fill-lower {
    background-color: #606670;
  }

  .range::-ms-fill-upper {
    background-color: #606670;
  }

  output {
    border: 1px solid #2b3039;
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
  }

  .range::-webkit-slider-thumb {
    background-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }

  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #606670;
    box-shadow: none;
  }

  .range::-moz-range-thumb {
    background-color: #aaa;
  }

  .range::-ms-thumb {
    background-color: #aaa;
  }
}
input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
    display: none;
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
    top: 2px;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #c62828;
    /* border: 1px solid #d9d9d9; */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #dfdfdf;
    /* border: 1px solid #d9d9d9; */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 10px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 8px; /* x*3 */
    top: 3px;
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    /* box-shadow: 0 0 3px rgba(0,0,0,0.3); */
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}
