body, html {
  margin: 0;
  background: #202020;
  color: #dfdfdf;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
button {
  position: relative;
  top: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 12px;
  border-radius: 3px;
}
#mute {
  top: 70%;
}
#volume {
  display: none;
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
}
p {
  font-size: 12px;
}
